.Home{
    background-image: url(../turi2.jpg);
    background-size: cover;
}
body{
    background-color: brown;
}
h1{
    color: burlywood;
    text-align: center;
}
h2{
    color: darkkhaki;
    font-family: 'Times New Roman';
    text-align: left; 
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
li{
    color: #949E4E  
}
.education{
    color: blue;
}
.intro{
    color: #2BB347;
    font-family: sans-serif;
}
.mine{
    color: yellow;
    font-family: Georgia;
}
img{
    float: left;
    height: 600px;
    width: 400px;
    object-fit: cover;
    border-radius: 40px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: brown;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: purple;
  }
}
@media screen and (max-width: 768px) {
  .column {
    color: purple;
    width: 220px;
    float: left;
    padding: 15px;
  }
}
  