h1{
    color: burlywood;
    text-align: center;
}
h2{
    color: darkkhaki;
    font-family: 'Times New Roman';
    text-align: left; 
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
li{
    color: #949E4E  
}
.intro{
    color: #2BB347;
    font-family: sans-serif;
}